.swiper {
  width: 100vw;
  height: 50vh;
  background-color: #F1E2C2;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #F1E2C2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

